<div flex layout="column" layout-align="center center">
    <h1 class="md-display-2">Matricula</h1>
</div>
<div flex layout="column" layout-align="center center">
    <div>
        <md-content>
            <formulari-gestio :loading="loadingCreate"
                              :error="msgErrorTable"
                              :alumnes="alumnes"
                              :professors="professors"
                              :assignatures="assignatures">
            </formulari-gestio>
        </md-content>
    </div>
    <h3>Llistat</h3>
    <md-progress-circular ng-if="loadingTable" md-diameter="70" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
    <h2 ng-if="msgErrorTable" md-colors="{color:'red'}">Hi ha un error al accedir a la base de dades!!!</h2>
    <table ng-if="!loadingTable && !msgErrorTable" show-gt-xs hide-xs>
        <tr>
            <th colspan="3">Alumne</th>
            <th colspan="3">Professor</th>
            <th colspan="2">Assignatura</th>
            <th colspan="2" rowspan="2">
                <md-input-container>
                    <label>Buscar</label>
                    <input type="text" ng-model="filtro" name="filtre" />
                    <md-icon aria-label="lupa" md-svg-src="img/icons/search-24px.svg" />
                </md-input-container>
            </th>
        </tr>
        <tr>
            <th>
                <md-button ng-click="sortBy('alumne.id')">ID</md-button>
                <span class="sortorder" ng-show="propertyName === 'alumne.id'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('alumne.nom')">Nom</md-button>
                <span class="sortorder" ng-show="propertyName === 'alumne.nom'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('alumne.cognom')">Cognom</md-button>
                <span class="sortorder" ng-show="propertyName === 'alumne.cognom'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('professor.id')">ID</md-button>
                <span class="sortorder" ng-show="propertyName === 'professor.id'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('professor.nom')">Nom</md-button>
                <span class="sortorder" ng-show="propertyName === 'professor.nom'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('professor.cognom')">Cognom</md-button>
                <span class="sortorder" ng-show="propertyName === 'professor.cognom'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('assignatura.id')">ID</md-button>
                <span class="sortorder" ng-show="propertyName === 'assignatura.id'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <md-button ng-click="sortBy('assignatura.nom')">Nom</md-button>
                <span class="sortorder" ng-show="propertyName === 'assignatura.nom'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="dada in dades | orderBy:propertyName:reverse | filter:filtro">
            <td>
                <p ng-if="editing != dada.id + 'alumneid'" ng-dblclick="initupdategestio(dada, 'alumneid')">{{dada.alumne.id}}</p>
                <input auto-focus ng-blur="unsel()" ng-if="editing == dada.id + 'alumneid'" type="text" name="dada.alumne.id" ng-model="canviGestio.alumneid" />
                <!--<md-select name="dada.alumne.id" ng-click="initupdategestio(dada, 'alumneid')" ng-model="canviGestio.alumneid" aria-label="display alumne id" required>
                    <md-option ng-repeat="alum in alumnes" ng-value="alum.id">{{alum.id}}</md-option>
                </md-select>-->
            </td>
            <td><p>{{dada.alumne.nom}}</p></td>
            <td><p>{{dada.alumne.cognom}}</p></td>
            <td>
                <p ng-if="editing != dada.id + 'professorid'" ng-dblclick="initupdategestio(dada, 'professorid')">{{dada.professor.id}}</p>
                <input auto-focus ng-blur="unsel()" ng-if="editing == dada.id + 'professorid'" type="text" name="dada.professor.id" ng-model="canviGestio.professorid" />
            </td>
            <td><p>{{dada.professor.nom}}</p></td>
            <td><p>{{dada.professor.cognom}}</p></td>
            <td>
                <p ng-if="editing != dada.id + 'assignaturaid'" ng-dblclick="initupdategestio(dada, 'assignaturaid')">{{dada.assignatura.id}}</p>
                <input auto-focus ng-blur="unsel()" ng-if="editing == dada.id + 'assignaturaid'" type="text" name="dada.assignatura.id" ng-model="canviGestio.assignaturaid" />
            </td>
            <td><p>{{dada.assignatura.nom}}</p></td>
            <td>
                <md-button class="md-raised md-warn" aria-label="botodelete" ng-click="confirmDelete($event,dada)">
                    <div ng-if="loadingdelete != dada.id">Delete</div>
                    <md-progress-circular class="md-accent" ng-if="loadingdelete == dada.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                </md-button>
            </td>
            <td>
                <md-button class="md-raised md-hue" aria-label="botoupdate" ng-click="updategestio(dada)">
                    <div ng-if="loadingupdate != dada.id">Update</div>
                    <md-progress-circular class="md-accent" ng-if="loadingupdate == dada.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                </md-button>
            </td>
        </tr>
    </table>
    <div ng-if="!loadingTable && !msgErrorTable" flex hide-gt-xs show-xs layout="row" layout-align="center stretch">
        <md-input-container>
            <label>Buscar</label>
            <input type="text" ng-model="filtro" name="filtre" />
            <md-icon aria-label="lupa" md-svg-src="img/icons/search-24px.svg" />
        </md-input-container>
    </div>
    <md-content ng-if="!loadingTable && !msgErrorTable" hide-gt-xs show-xs>
        <md-list flex>
            <md-list-item layout="column" layout-align="center stretch" ng-repeat="dada in dades | orderBy:propertyName:reverse | filter:filtro" class="md-list-item-text compact">
                <div layout="row" layout-align="space-around stretch">
                    <div layout="column">
                        <h4>Alumne:</h4>
                    </div>
                    <div layout="column" layout-align="center stretch">
                        <p ng-if="editing != dada.id + 'alumneid'" ng-click="initupdategestio(dada, 'alumneid')">{{dada.alumne.id}}</p>
                        <input auto-focus ng-blur="unsel()" ng-if="editing == dada.id + 'alumneid'" type="text" name="dada.alumne.id" ng-model="canviGestio.alumneid" />
                    </div>
                    <div layout="column" layout-align="center stretch">
                        {{dada.alumne.nom}}
                        {{dada.alumne.cognom}}
                    </div>
                </div>
                <div layout="row" layout-align="space-around stretch">
                    <div layout="column">
                        <h4>Profe:</h4>
                    </div>
                    <div layout="column" layout-align="center stretch">
                        <p ng-if="editing != dada.id + 'professorid'" ng-click="initupdategestio(dada, 'professorid')">{{dada.professor.id}}</p>
                        <input auto-focus ng-blur="unsel()" ng-if="editing == dada.id + 'professorid'" type="text" name="dada.professor.id" ng-model="canviGestio.professorid" />
                    </div>
                    <div layout="column" layout-align="center stretch">
                        {{dada.professor.nom}}
                        {{dada.professor.cognom}}
                    </div>
                </div>
                <div layout="row" layout-align="space-around stretch">
                    <div layout="column">
                        <h4>Assignatura:</h4>
                    </div>
                    <div layout="column" layout-align="center stretch">
                        <p ng-if="editing != dada.id + 'assignaturaid'" ng-click="initupdategestio(dada, 'assignaturaid')">{{dada.assignatura.id}}</p>
                        <input auto-focus ng-blur="unsel()" ng-if="editing == dada.id + 'assignaturaid'" type="text" name="dada.assignatura.id" ng-model="canviGestio.assignaturaid" />
                    </div>
                    <div layout="column" layout-align="center stretch">
                        {{dada.assignatura.nom}}
                    </div>
                </div>
                <div layout="row" layout-align="center stretch">
                    <md-button class="md-warn" aria-label="botodelete" ng-click="confirmDelete($event,dada)">
                        <div ng-if="loadingdelete != dada.id">
                            <md-icon ng-if="loadingdelete != dada.id" md-svg-icon="img/icons/delete-24px.svg" />
                        </div>
                        <md-progress-circular class="md-accent" ng-if="loadingdelete == dada.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                    </md-button>
                    <md-button class="md-hue" aria-label="botoupdate" ng-click="updategestio(dada)">
                        <div ng-if="loadingupdate != dada.id">
                            <md-icon md-svg-icon="img/icons/edit-24px.svg" />
                        </div>
                        <md-progress-circular class="md-accent" ng-if="loadingupdate == dada.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>