<md-sidenav flex layout="column" layout-align="start center" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked="true" md-selected-nav-item="selectedItem">
    <md-button md-is-locked-open="false" id="menu" ng-click="toggleMenu()" class="md-primary md-hue-2" aria-label="Crear">
        <md-icon md-svg-icon="img/icons/menu-24px.svg"></md-icon>
    </md-button>
    <nav flex="70" layout="column" layout-align="left center" aria-label="Barra de navegacio">
        <a class="md-button" ui-sref="layout.home" ng-click="toggleMenu()">Home</a>
        <a class="md-button" ui-sref="layout.matricula" ng-click="toggleMenu()">Matricula</a>
    </nav>
</md-sidenav>