table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

    table tr:nth-child(odd) {
        //background-color: #f2f2f2;
        background-color: #e1eaf2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }

th > .md-button {
    font-weight: bold;
}
th > md-input-container {
    padding: 5px;
    margin: 10px;
    width: 85%;
}    

.sortorder:after {
    content: '\25b2';
    // BLACK UP-POINTING TRIANGLE
}

.sortorder.reverse:after {
    content: '\25bc';
    // BLACK DOWN-POINTING TRIANGLE
}