<div flex layout="column" layout-align="center center">
    <h1 class="md-display-2">Matricula</h1>
    <form name="novaAssignaturaForm" ng-submit="postassignatura(novaAssignaturaForm.$valid)">
        <h2 class="md-headline">Crear nova Assignatura</h2>
        <md-input-container class="md-block">
            <label>Nom</label>
            <input ng-disabled="msgErrorTable" type="text" md-maxlength="20" required name="nom" ng-model="assignatures.nom">
            <div ng-messages="novaAssignaturaForm.Nom.$error">
                <div ng-message="required">Aquest camp és requerit.</div>
                <div ng-message="md-maxlength">El nom  no pot passar de 20 caràcters</div>
            </div>
        </md-input-container>
        <div>
            <md-button ng-disabled="msgErrorTable" layout="row" layout-align="center center" aria-label="botocrear" class="md-primary md-raised" type="submit">
                <div ng-if="!loading">Crear</div>
                <md-progress-circular class="md-accent" ng-if="loading" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
            </md-button>
        </div>
    </form>
    <!--<div>
        <md-button layout="row" layout-align="center center" aria-label="botocrear" class="md-primary md-raised" ng-click="formUpdate($event,assignatura)">
            <div ng-if="!loading">Prova</div>
            <md-progress-circular class="md-accent" ng-if="loading" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
        </md-button>
    </div>-->
</div>
<div flex layout="column" layout-align="center center">
    <p>Llista d'assignatures</p>
    <!--<md-input-container>
        <label>Ordena</label>
        <md-select ng-model="$ctrl.orderProp">
            <md-option value="id">ID</md-option>
            <md-option value="nom">Nom</md-option>
        </md-select>
    </md-input-container>-->
    <div layout-align="center start" layout-wrap flex>
        <md-progress-circular ng-if="loadingTable" md-diameter="70" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
        <h2 ng-if="msgErrorTable" md-colors="{color:'red'}">Hi ha un error al accedir a la base de dades!!!</h2>
        <table ng-if="!loadingTable && !msgErrorTable"  show-gt-xs hide-xs>
            <tr>
                <th>Assignatures</th>
                <th colspan="2" rowspan="2">
                    <md-input-container>
                        <label>Buscar</label>
                        <input type="text" ng-model="filtro" name="filtre" />
                        <md-icon aria-label="lupa" md-svg-src="img/icons/search-24px.svg" />
                    </md-input-container>
                </th>
            </tr>
            <tr>
                <th>
                    <md-button ng-click="sortBy('nom')">Nom</md-button>
                    <span class="sortorder" ng-show="propertyName === 'nom'" ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
            <tr ng-repeat="assignatura in assignatures | orderBy:propertyName:reverse | filter:filtro">
                <td>
                    <p ng-if="editing != assignatura.id + 'nom'" ng-dblclick="initupdateassignatura(assignatura , 'nom')">{{assignatura.nom}}</p>
                    <input auto-focus ng-blur="unselect()" ng-if="editing == assignatura.id + 'nom'" type="text" name="assignatura.nom" ng-model="canviassignatura.nom" />
                </td>
                <td>
                    <md-button class="md-raised md-warn" aria-label="botodelete" ng-click="confirmDelete($event,assignatura)">
                        <div ng-if="loadingdelete != assignatura.id">Delete</div>
                        <md-progress-circular class="md-accent" ng-if="loadingdelete == assignatura.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                    </md-button>
                </td>
                <td>
                    <md-button class="md-raised md-hue" aria-label="botoupdate" ng-click="updateassignatura(assignatura)">
                        <div ng-if="loadingupdate != assignatura.id">Update</div>
                        <md-progress-circular class="md-accent" ng-if="loadingupdate == assignatura.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                    </md-button>
                </td>
            </tr>
        </table>
        <md-content ng-if="!loadingTable && !msgErrorTable" flex hide-gt-xs show-xs>
            <md-list flex>
                <md-list-item ng-repeat="assignatura in assignatures" flex layout="column" layout-align="space-between stretch">
                    <div layout="row" layout-align="space-between stretch">
                            <p ng-if="editing != assignatura.id + 'nom'" ng-click="initupdateassignatura(assignatura , 'nom')">{{assignatura.nom}}</p>
                            <input auto-focus ng-blur="unselect()" ng-if="editing == assignatura.id + 'nom'" type="text" name="assignatura.nom" ng-model="canviassignatura.nom" />
                            <md-button class="md-raised md-warn" aria-label="botodelete" ng-click="confirmDelete($event,assignatura)">
                                <div ng-if="loadingdelete != assignatura.id">Delete</div>
                                <md-progress-circular class="md-accent" ng-if="loadingdelete == assignatura.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                            </md-button>
                            <md-button class="md-raised md-hue" aria-label="botoupdate" ng-click="updateassignatura(assignatura)">
                                <div ng-if="loadingupdate != assignatura.id">Update</div>
                                <md-progress-circular class="md-accent" ng-if="loadingupdate == assignatura.id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                            </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <!--<div>
        <div dx-data-grid="gridOptions"></div>
    </div>-->
</div>